In [1]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from math import sqrt
import matplotlib.pyplot as plt

In [2]:
df_test = pd.read_csv('test_v1.csv', sep = ';',decimal =',')
df_train = pd.read_csv('train_v1.csv', sep = ';', decimal =',')

In [3]:
X_train = df_train.drop(columns = ['Disintegration_Time'])
y_train = df_train[['Disintegration_Time']]

X_test = df_test.drop(columns = ['Disintegration_Time'])
y_test = df_test[['Disintegration_Time']]

In [4]:
algos = ['SVR']
metrics = ['rmse_train','rmse_test']
results = pd.DataFrame(columns=algos, index = metrics)
results

            SVR
rmse_train  NaN
rmse_test   NaN

In [5]:
rf_results = pd.DataFrame(columns=['rmse'])

In [6]:
rf_results

Empty DataFrame
Columns: [rmse]
Index: []

In [7]:
 degree=[3]

In [8]:
for d in degree:
    rf_model =SVR(degree=3, kernel='rbf')
    rf_model_reg = rf_model.fit(X_train, np.ravel(y_train))
    tmp_rmse = mean_squared_error(y_test, rf_model_reg.predict(X_test), squared=False)
    tmp_degree = d
    tmp_row = pd.DataFrame(data=np.array([[int(tmp_degree),tmp_rmse]]), columns=['d', 'rmse'])
    rf_results = pd.concat([rf_results, tmp_row], axis=0, ignore_index=True)

In [9]:
rf_results

       rmse    d
0  0.931768  3.0